<div class="head">
<div><strong>Cooperación</strong> UEB-Cuba</div>
<div style="float: right;">Mapas proyectos</div>
<div style="float: right;">Diagrama de cooperación</div>
<div style="float: right;"><strong>ODS</strong></div>
<div style="float: right;">
    <select>
        <option>Español, &#xf042;</option>
        <option>Ingles, &#xf043;</option>
        <option>Frances, &#xf044;</option>
        <option>Portugues, &#xf045;</option>
        <option>Ruso, &#xf046;</option>
      </select>
</div>
</div>
